@charset "UTF-8";
/* CSS Document */
body{
background: url(http://static.solvusoft.com/images/bg-repeat.jpg) repeat-x top left #c3e2f6;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
line-height: 19px;
color: #474747;
margin: 0;
padding: 0;
}
* {margin:0;padding:0;}
img {border:none}
a{color: #2a90d1;}
a:hover{color: black;}
p{
font-size: 13px;
line-height: 19px;
padding: 2px 0 7px 0;
}
h1{
color: #012c67;
font-weight: normal;
font-size: 36px;
line-height: 38px;
padding: 3px 0 8px 0;
}
h2{
font-weight: normal;
font-size: 23px;
line-height: 27px;
padding: 3px 0 6px 0;
}
h3{
font-weight: normal;
font-size: 16px;
line-height: 20px;
padding: 3px 0 6px 0;
}
ul{
list-style: outside;
padding: 2px 0 6px 20px;
margin: 0;
}
.clear {clear:both;}
.float-left {float: left;}
.float-right {float: right;}
.center {margin: 0 auto; text-align: center;}
.nomargin {margin: 0 !important;}
hr{
border: none;
border-top: 1px solid #d2d2d2;
margin: 20px 0;
}
.right10{padding-right: 10px;}
.left10{padding-left: 10px;}

/* Container Styles
------------------------------------------------*/
#header{
background: url(http://static.solvusoft.com/images/header-repeat.jpg) repeat-x top left;
padding-bottom: 10px;
height: 78px;
}
#main{
background: white;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.18);
-moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.18);
box-shadow: 0 0 2px 1px rgba(0,0,0,0.18);
margin: 10px 0;
padding: 20px;
min-height: 400px;
}
#partner-footer{
background: url(http://static.solvusoft.com/images/footer-repeat.jpg) repeat-x top left #fff;
padding-top: 22px;
margin-top: 20px;
height: 77px;
}
#footer{
background: #f4f4f4;
border-top: 1px solid #e3e3e3;
padding: 20px 0;
}
#subfooter{
border-top: 1px solid #ddd;
background: url(http://static.solvusoft.com/images/subfooter-repeat.jpg) repeat top left;
padding: 7px 0 3px 0;
}
.container{
margin: 0 auto;
width: 920px;
}

/* Header Styles 
------------------------------------------------*/
.logo{
float: left;
}
.dropdown{
float: right;
background: url(http://static.solvusoft.com/images/grey-gradient.jpg) repeat-x top left #f6f6f6;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-size: 12px;
margin: 23px 0 0 20px;
padding: 2px 8px;
}
.dropdown span {font-size: 10px; line-height: 18px;}
.dropdown li{
list-style: none;
}
.dropdown li a{
	display: block;
	text-decoration: none;
	color: #464646; 	
}
.dropdown li ul{
	display: none;
	z-index: 1000px;
}
.dropdown li:hover ul {
	display: block;
	position: absolute;
	-moz-box-shadow: 0px 0px 3px #444;
	-webkit-box-shadow: 0px 0px 3px #444;
	box-shadow: 0px 0px 3px #444;
	margin: 0;
	padding: 0; 
}
.dropdown li:hover li {
	float: none; 
}
.dropdown li:hover li a {
	background: #f6f6f6;
	font-size: 11px;
	line-height: 18px;
	padding: 0 8px;
	margin: 0;
}
.dropdown li li a:hover {
	background-color: #d4d4d4; 
}
.navigation{
padding: 27px 0 0 0;
}
.nav{
float: right;
list-style: none;
font-size: 13px;
margin: 0;
padding: 0;
}
.nav li{float: left; padding: 0px 8px;}
.nav a{text-decoration: none; color: #474747; padding: 5px 2px;}
.nav .active a,
.nav a:hover{background: url(http://static.solvusoft.com/images/nav-underline.jpg) repeat-x bottom left;}

/* Footer Styles 
------------------------------------------------*/
#partner-footer a{float: left;}
#partner-footer a .microsoft{
background: transparent url(http://static.solvusoft.com/images/logo-microsoft.png) no-repeat bottom left;
margin: 2px 36px 0 0; 
width: 215px;
height: 55px;
}
#partner-footer a:hover .microsoft{background: transparent url(http://static.solvusoft.com/images/logo-microsoft.png) no-repeat top left;}
#partner-footer a .ibm{
background: transparent url(http://static.solvusoft.com/images/logo-ibm.png) no-repeat bottom left;
margin: 8px 36px 0 0; 
width: 116px;
height: 46px;
}
#partner-footer a:hover .ibm{background: transparent url(http://static.solvusoft.com/images/logo-ibm.png) no-repeat top left;}
#partner-footer a .intel{
background: transparent url(http://static.solvusoft.com/images/logo-intel.png) no-repeat bottom left;
margin: 0 36px 0 0; 
width: 68px;
height: 62px;
}
#partner-footer a:hover .intel{background: transparent url(http://static.solvusoft.com/images/logo-intel.png) no-repeat top left;}
#partner-footer a .asp{
background: transparent url(http://static.solvusoft.com/images/logo-asp.png) no-repeat bottom left;
margin: 5px 36px 0 0; 
width: 120px;
height: 58px;
}
#partner-footer a:hover .asp{background: transparent url(http://static.solvusoft.com/images/logo-asp.png) no-repeat top left;}
#partner-footer a .hp{
background: transparent url(http://static.solvusoft.com/images/logo-hp.png) no-repeat bottom left;
margin: 6px 36px 0 0; 
width: 97px;
height: 50px;
}
#partner-footer a:hover .hp{background: transparent url(http://static.solvusoft.com/images/logo-hp.png) no-repeat top left;}
#partner-footer a .bbb{
background: transparent url(http://static.solvusoft.com/images/logo-bbb.png) no-repeat bottom left;
margin: 3px 0 0 0; 
width: 115px;
height: 58px;
}
#partner-footer a:hover .bbb{background: transparent url(http://static.solvusoft.com/images/logo-bbb.png) no-repeat top left;}
.footer-column{
float: left;
list-style: none;
color: #4b6f8e;
margin: 0;
padding: 0;
width: 184px;
}	
	.footer-column li{
	padding-bottom: 3px;
	}
	.footer-column h4{padding-bottom: 6px;}
	.footer-column a{
	font-size: 12px;
	line-height: 12px;
	text-decoration: none;
	color: #4b6f8e;
	}
	.footer-column a:hover{color: black;}
#subfooter p {font-size: 12px;}
#subfooter a {text-decoration: none; color: #4b6f8e; padding-right: 8px;}
#subfooter a:hover {color: black;}
#subfooter p.float-right{text-align: right;}

/* Page Styles 
------------------------------------------------*/
.home-intro-left{ /*also used on /fileviewpro/install and uninstall*/
float: left;
width: 460px;
}
.home-intro-right{
float: left;
padding: 18px 0 0 0;
width: 420px;
}
.blue-button span {
background: transparent url(http://static.solvusoft.com/images/btn-blue.jpg) no-repeat top left;
display: block;
color: #fff;
text-shadow: 1px 1px 1px #000;
font-weight: bold;
padding: 6px 0 6px 13px;
}
.blue-button {
float: left;
background: transparent url(http://static.solvusoft.com/images/btn-blue.jpg) no-repeat top right;
display: block;
text-decoration: none;
font-size:14px;
padding-right: 13px;
margin: 2px 5px 2px 0;
height: 31px;
}
	a:hover.blue-button span{background: transparent url(http://static.solvusoft.com/images/btn-blue.jpg) no-repeat bottom left;}
	a:hover.blue-button {background: transparent url(http://static.solvusoft.com/images/btn-blue.jpg) no-repeat bottom right;}
.green-button span {
background: transparent url(http://static.solvusoft.com/images/btn-buynow.jpg) no-repeat top left;
display: block;
color: #fff;
text-shadow: 1px 1px 1px #000;
font-weight: bold;
padding: 15px 3px 0 16px;
height: 39px;
}
.green-button {
float: left;
background: transparent url(http://static.solvusoft.com/images/btn-buynow.jpg) no-repeat top right;
display: block;
text-decoration: none;
font-size:23px;
padding-right: 50px;
margin: 2px 0 2px 0;
height: 54px;
}
	.green-button .activation{font-size: 13px;font-weight: normal;}
	a:hover.green-button span{background: transparent url(http://static.solvusoft.com/images/btn-buynow.jpg) no-repeat bottom left;}
	a:hover.green-button {background: transparent url(http://static.solvusoft.com/images/btn-buynow.jpg) no-repeat bottom right;}
.one-box{
float: left;
background: url(http://static.solvusoft.com/images/grey-gradient.jpg) repeat-x top left #f6f6f6;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 10px;
margin-right: 15px;
width: 260px;
}
	.one-box h3{padding: 6px 0 6px 39px;}
	.three-boxes .one-box{height: 230px;}
.twtr-widget p {font-size: 11px; line-height: 19px;}
.wp-feed a{padding-top: 3px;}
.product{
border-bottom: 1px solid #d4d4d4;
padding-top: 20px;
height: 100%;
}
	.column-boxshot{
	float: left;
	padding: 0 28px;
	width: 135px;
	}
	.product .column-description{
	float: left;
	padding-bottom: 12px; 
	width: 430px;
	}
	.column-description a{margin-right: 6px;}
	.column-screenshot{
	float: right;
	padding-top: 10px;
	}
.left-image{
float: left;
padding: 5px 20px 0 0;
}
.partner{
border-bottom: 1px solid #d4d4d4;
padding-top: 20px;
}
	.column-logo{
	float: left;
	padding: 0 28px;
	width: 200px;
	}
	.partner .column-description{
	float: left;
	padding-bottom: 12px; 
	width: 550px;
	}
.subscription-banner,
.guarantee-banner{
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 46px 0 0 300px;
margin-bottom: 10px;
width: 580px;
height: 140px;
}
	.subscription-banner{background: url(http://static.solvusoft.com/images/subscription-banner.jpg) no-repeat top left;}
	.guarantee-banner{background: url(http://static.solvusoft.com/images/guarantee-banner.jpg) no-repeat top left;}
	.subscription-banner h1,
	.subscription-banner h2,
	.guarantee-banner h1,
	.guarantee-banner h2{
	text-align: center;
	}
.subscription-content{
float: left;
width: 570px;
}
	.subscription-content .feature .left-image{
	float: left;
	padding: 2px 5px 0px 10px;
	width: 70px;
	}	
	.subscription-content .feature .description{
	float: left;
	padding-bottom: 15px;
	width: 480px;
	}
.subscription-sidebar{
float: right;
padding-top: 15px;
width: 280px;
}
	#man-using-laptop{
	display: block;
	background: url(http://static.solvusoft.com/images/man-using-laptop.jpg) no-repeat top left;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 15px;
	width: 280px;
	height: 187px;
	}
.guarantee-content{
float: left;
padding: 0 0 10px 30px;
width: 660px;
}	
p.disclaimer{
clear:both; 
font-size: 10px;
line-height: 13px;
padding: 8px 0 10px 0;
}
a.download-button span {
background: url(http://static.solvusoft.com/images/products/btn-download.jpg) no-repeat top left;
display: block;
color: #fff;
text-shadow: 1px 1px 1px #460b09;
font-weight: normal;
padding: 6px 2px 9px 18px;
}
a.download-button {
float: left;
background: url(http://static.solvusoft.com/images/products/btn-download-right.jpg) no-repeat top right;
display: block;
text-decoration: none;
font-size:24px;
line-height: 28px;
padding-right: 55px;
height: 43px;
}
	a:hover.download-button span {background: url(http://static.solvusoft.com/images/products/btn-download.jpg) no-repeat bottom left;}
	a:hover.download-button {background: url(http://static.solvusoft.com/images/products/btn-download-right.jpg) no-repeat bottom right;}
	a.download-button.fr,
	a.download-button.de,
	a.download-button.ja,
	a.download-button.pt-br{font-size: 20px;}
	a.download-button.el{font-size: 17px;}
	
/* Ratings Styles (Located In Intro)
------------------------------------------------*/
.rating_wrapper {height:16px; width: 100%;}
.sp_rating{font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:11px; line-height:1.7em; color:#5f5f5f; display:block; width: 100%;}
	.rating{float:left; padding-right:4px;}
	.base{background:url(http://static.solvusoft.com/images/products/ratings.gif) 0 0 no-repeat; width:85px; height:16px; float:left; padding-right:4px; overflow:hidden;}
	.average{background:url(http://static.solvusoft.com/images/products/ratings.gif) 0 -16px no-repeat; text-indent:-9999px;}
	.votes{float:left; padding-right:4px;}
	.score{ background:url(http://static.solvusoft.com/images/products/ratings.gif) 0 0 no-repeat; width:85px; height:100%; float:left; position:relative;}
		.score a{display:block; height:100%; float:left; text-indent:-9999px; position:absolute; overflow:hidden; line-height:1em;}
		.score1 {width:20%; z-index:55;}
		.score2 {width:40%; z-index:54;}
		.score3 {width:60%; z-index:53;}
		.score4 {width:80%; z-index:52;}
		.score5 {width:100%; z-index:51;}
		.score a:hover{ background:url(http://static.solvusoft.com/images/products/ratings.gif) bottom right no-repeat;}
	.status {height:16px; width:200px; overflow:hidden; position:relative;}
	.score_this{ height:100%; overflow:hidden;}
	
/* Language Detection Popup 
------------------------------------------------*/
#language_popup{
background: url(http://static.solvusoft.com/images/map-watermark.png) no-repeat top right #f6f6f6;
border: 1px solid #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.18);
-moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.18);
box-shadow: 0 0 2px 1px rgba(0,0,0,0.18);
position: absolute;
z-index: 101;
top: 220px !important;
left: 263px !important;
margin: 0 auto;
padding: 20px;
width: 730px;
}
#language_shadow {
background-image: url(http://static.solvusoft.com/images/shade1x1.png);
position: absolute;
left: 0;
top: 0;
width: 100%;
z-index: 100;
}
#language_popup ul.language-detection{
float: left;
list-style: none outside;
margin-top: 20px;
padding: 10px 40px 8px 2px;
}

/* Microsoft Popup
------------------------------------------------*/
#microsoft_popup{
background: #fff;
border: 1px solid #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.18);
-moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.18);
box-shadow: 0 0 2px 1px rgba(0,0,0,0.18);
position: absolute;
z-index: 101;
margin: 0 auto;
padding: 20px;
width: 730px;
}
#microsoft_popup_shadow {
background-image: url(http://static.solvusoft.com/images/shade1x1.png);
position: absolute;
left: 0;
top: 0;
width: 100%;
z-index: 100;
}

/* Post Download Pages
------------------------------------------------*/
.postdl-callout{
background: url(http://static.solvusoft.com/images/grey-gradient.jpg) repeat-x top left #f6f6f6;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 10px 15px;
}
.postdl-callout h2{color: #012c67;}
.postdl-callout .callout-left{
float: left;
width: 450px;
}
.postdl-callout .start-download-button{
float: right;
padding-top: 10px;
}
.step{
padding-bottom: 30px;
}
.step .description{
background: url(http://static.solvusoft.com/images/description-bg.jpg) no-repeat top left;
padding: 5px 0 0 9px;
width: 405px;
height: 90px;
}
	.step .description p.number{
	float: left;
	font-size: 23px;
	color: #012c67;
	font-weight: bold;
	width: 30px;
	}
	.step .description p{
	float: left;
	text-align: left;
	width: 364px;
	}