/*

Theme Name: Black Board
Theme URI: http://www.themebuilder.nl/
Description: Grunge magazine theme with Jquery horizontal menu. Enjoy!
Version: 1.1.2
Author: Frank Schrijvers
Author URI: http://www.arterror.nl
Tags: two-columns, fixed-width, black, white, blue
*/

ul.menu {
list-style:none;
margin:0;
padding:0;
}

ul.menu a {
display:block;
color:#fff;
text-decoration:none;
}

ul.menu a:hover {
color:#cbcbcb;
text-decoration:none;
}

.menu li {
position:relative;
float:left;
margin-right:2px;
}

ul.menu ul {
position:absolute;
top:26px;
left:0;
display:none;
opacity:0;
list-style:none;
}

ul.menu ul li {
position:relative;
border-bottom:1px solid #747474;
width:148px;
margin:0;
}

ul.menu ul li a {
display:block;
background:url(images/header_over.gif);
padding:3px 7px 5px;
}

ul.menu ul ul {
left:148px;
top:-1px;
}

ul.menu .menulink {
font-weight:700;
font-size:12px;
color:#fff;
width:134px;
padding:5px 7px 7px;
}

ul.menu .topline {
border-top:0 solid #aaa;
}

#title {
background:transparent url(images/fabric.jpg) no-repeat;
height:260px;
margin-left:600px;
padding-left:40px;
}

#title h4 {
color:#fff;
text-align:center;
}

a {
outline:none;
}

.widget_rss {
background:url(images/rss.png) no-repeat;
background-position:40px 8px;
}

.widget_archive,.archives {
background:url(images/archive.png) no-repeat;
background-position:40px 8px;
}

.calendar_wrap {
background:url(images/calander.png) no-repeat;
background-position:40px 8px;
}

.widget_categories,.categories {
background:url(images/categories.png) no-repeat;
background-position:40px 8px;
}

.widget_recent_entries {
background:url(images/post.png) no-repeat;
background-position:40px 8px;
}

.widget_pages,.pagenav {
background:url(images/articles.png) no-repeat;
background-position:40px 8px;
}

.widget_recent_comments {
background:url(images/reaction.png) no-repeat;
background-position:40px 8px;
}

.widget_meta,.widget_links,.meta {
background:url(images/meta.png) no-repeat;
background-position:40px 8px;
}

#date {
background:url(images/date.png) no-repeat;
text-align:left;
vertical-align:middle;
/*color:#063640;*/
color: white;
width:80px;
margin-left:-72px;
padding-top:6px;
padding-left:7px;
margin-top:-85px;
height:38px;
position:absolute;
_position:relative;
font:bold 16px/22px Monospace, "Trebuchet MS", Georgia, sans-serif;
}

#navtop {
float:right;
margin-top:135px;
width:100%;
font-size:12px;
color:#fff;
}

#navtop li {
font-size:12px;
font-weight:700;
color:#fff;
}

#header-repeat {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/header-repeat.jpg) repeat-x scroll center top;
margin:0;
}

#left-black {
background:transparent url(images/left-back.gif) no-repeat scroll center top;
}

body {
color:#3D3D3C;
font-size-adjust:none;
font:normal normal normal 10px/normal Verdana, Tahoma;
background:#000;
margin:0;
padding:0;
}

#page {
text-align:left;
background:url(images/content_back.png);
background-color:#000;
width:900px;
margin:0 auto;
padding:0;
}

#content {
font-size:1.2em;
}

.widecolumn .entry p {
font-size:1.05em;
margin-top:-100px;
}

.narrowcolumn .entry,.widecolumn .entry {
line-height:1.4em;
}

.widecolumn {
line-height:1.6em;
width:540px;
margin:5px 0 0 20px;
padding:10px 0 20px;
}

.narrowcolumn .postmetadata {
text-align:right;
padding-top:0;
font-style: italic!important;
margin: 0 0 10px 0;
}

.thread-alt {
background:#f8f8f8;
}

.thread-even {
background:#FFF;
}

.depth-1 {
border:1px solid #ddd;
}

.even,.alt {
border-left:1px solid #ddd;
}

#footer {
background:#000;
border:none;
width:900px;
clear:both;
color:#ccc;
margin:0 auto;
padding:0;
font-size: 16px;
font-weight: bold;
}

small {
font:0.9em/1.5em Arial, Helvetica, Sans-Serif;
}

h1,h2,h3 {
font-family:Georgia, "Times New Roman", Times, serif;
color:#fff;
}

h1 {
text-align:center;
padding-top:50px;
font-size:24px;
margin:0;
}

h2 {
text-shadow: 0 1px 1px black;
font-size:30px;
line-height:normal;
}

h3 {
font-size:22px;
margin:10px 0 0;
padding:0;
}

h2#pagetitle {
font-size: 25px;    
margin: 8px 0 0;
padding: 0;
}

#sidebar h2 {
font:20px Georgia, "Times New Roman", Times, serif;
margin:5px 0 0 40px;
padding:0;
}

h1,h1 a,h1 a:visited, {
text-decoration:none;
color:#fff;
}

h1 a:hover {
color:#268495;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited {
font-family: Georgia, "Times New Roman", Times, serif;
color:#333;
font-weight:400;
}

h2,h2 a,h2 a:hover,h2 a:visited,h3,h3 a,h3 a:hover,h3 a:visited,#sidebar h2,#wp-calendar caption,cite {
font-family: 'PT Sans', Arial, "Times New Roman", Times, serif;
text-decoration:none;
}

.entry p a:visited {
color:#b85b5a;
}

.sticky {
background:#f7f7f7;
padding:0 10px 10px;
}

.sticky h2 {
padding-top:10px;
}

.commentlist li,#commentform input,#commentform textarea {
font:0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

.commentlist li ul li {
font-size:1em;
margin-right:-5px;
margin-left:10px;
}

.commentlist li {
font-weight:700;
background:url(images/comments-top.gif);
background-repeat:no-repeat;
list-style:none;
margin:15px 0 20px;
padding:5px 5px 10px 15px;
}

.avatar {
float:left;
qheight:33px;
qwidth:33px;
margin:-5px 22px 10px 0;
}

.commentlist cite,.commentlist cite a {
font:normal bold 18px Arial, Helvetica, sans-serif;
}

.commentlist p {
font-weight:400;
line-height:1.5em;
text-transform:none;
margin:10px 5px 10px 60px;
}

#commentform p {
font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;
margin:5px 0;
}

.commentmetadata {
font-weight:400;
margin-top:-16px;
display:block;
float:right;
}

#sidebar {
font-size:13px;
margin-left:600px;
padding:0 0 10px;
}

small,#sidebar ul ul li,#sidebar ul ol li,.nocomments,.postmetadata,blockquote,strike {
color:#000;
}

acronym,abbr,span.caps {
font-size:0.9em;
letter-spacing:.07em;
cursor:help;
}

a,h2 a:hover,h3 a:hover {
color:#ccc;
text-decoration:none;
}

a:hover {
color:#1A3C45;
text-decoration:underline;
}

.narrowcolumn a {
color:#0E6172;
}

#wp-calendar #prev a,#wp-calendar #next a {
font-size:9pt;
}

#wp-calendar a {
text-decoration:none;
display:block;
}

#wp-calendar caption {
font:bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
text-align:center;
width:100%;
}

#wp-calendar th {
font-style:normal;
text-transform:capitalize;
}

#header {
background-color:#212020;
background:transparent url(images/header.jpg);
height:161px;
width:900px;
margin:0;
padding:0;
}

.narrowcolumn {
float:left;
width:576px;
margin:0;
padding:12px;
}

.line {
height:1px;
width:100%;
margin-top: 3px;
background-color: #CCCCCC;
}

.post hr {
display:block;
}

.widecolumn .postmetadata {
margin:30px 0;
}

.widecolumn .smallattachment {
text-align:center;
float:left;
width:128px;
margin:5px 5px 5px 0;
}

.widecolumn .attachment {
text-align:center;
margin:5px 0;
}

#footer p {
text-align:center;
margin:0;
padding:8px 0;
}

h3.comments {
margin:40px auto 20px;
padding:0;
}

p img {
max-width:100%;
border:1px #000;
padding:0;
}

img.alignright {
display:inline;
margin:0 0 2px 7px;
padding:4px;
}

img.alignleft {
display:inline;
margin:0 7px 2px 0;
padding:4px;
}

.alignright {
float:right;
}

.alignleft {
float:left;
}

html>body .entry ul {
margin-left:0;
padding:0 0 0 10px;
}

html>body .entry li {
margin:7px 0 8px 10px;
}

.entry ol {
margin:0;
padding:0 0 0 35px;
}

.postmetadata ul,.postmetadata li {
display:inline;
list-style-type:none;
list-style-image:none;
}

#sidebar ul,#sidebar ul ol {
margin:0;
padding:0 0 10px;
}

#sidebar ul li {
qwidth:300px;
list-style-type:none;
list-style-image:none;
padding:10px 10px 10px 40px;
}

#sidebar ul p,#sidebar ul select {
margin:5px 0 8px;
}

#sidebar ul ul,#sidebar ul ol {
margin:5px 0 0 10px;
}

#sidebar ul ul ul,#sidebar ul ol {
margin:0 0 0 10px;
}

ol li,#sidebar ul ol li {
list-style:decimal outside;
}

#sidebar ul ul li,#sidebar ul ol li {
margin:3px 0 0;
padding:0;
}

#search-box {
position:absolute;
top:96px;
width:150px;
height:25px;
background:url(images/sb.png);
margin:0 0 0 460px;
}

#sidebar #search-box {
width:190px;
height:23px;
background:url(images/box-search.png) no-repeat;
margin:0 0 15px 30px;
}

#sidebar p {
color:#fff;
}

#rss {
position:absolute;
top:74px;
height:50px;
width:50px;
margin:0 0 0 850px;
}

#searchform {
text-align:center;
margin:10px auto;
padding:5px 3px;
}

#sidebar #searchform #s {
width:108px;
padding:2px;
}

#sidebar #searchsubmit {
padding:1px;
}

select {
width:130px;
}

#commentform input {
width:170px;
margin:5px 5px 1px 0;
padding:2px;
}

#commentform {
margin:5px 10px 0 0;
}

#commentform textarea {
width:100%;
padding:2px;
}

#respond:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

#commentform #submit {
display:block;
background:url(images/submit.gif) no-repeat 0 0;
width:76px;
height:28px;
border:0;
color:#6c6969;
font-size-adjust:none;
font-stretch:normal;
font:normal normal bold 12px/normal Verdana, Arial, Helvetica, sans-serif;
margin:0 0 5px auto;
padding:0;
}

.alt {
margin:0;
padding:10px;
}

.commentlist {
text-align:justify;
padding:0;
}

.children {
padding:0;
}

.nocomments {
text-align:center;
margin:0;
padding:0;
}

#wp-calendar {
empty-cells:show;
width:155px;
margin:10px auto 0;
}

#wp-calendar #next a {
padding-right:10px;
text-align:right;
}

#wp-calendar #prev a {
padding-left:10px;
text-align:left;
}

#wp-calendar td {
text-align:center;
padding:3px 0;
}

#wp-calendar td.pad:hover {
background:#fff;
}

acronym,abbr {
border-bottom:1px dashed #999;
}

blockquote {
padding-left:20px;
margin:15px 30px 0 10px;
}

blockquote cite {
display:block;
margin:5px 0 0;
}

.screen-reader-text {
position:absolute;
left:-1000em;
}

.navigation {
display:block;
text-align:center;
margin-top:10px;
margin-bottom:60px;
}

.wp-caption {
border:1px solid #ddd;
text-align:center;
padding-top:4px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
background:#f3f3f3;
margin:10px;
}

.wp-caption p.wp-caption-text {
font-size:11px;
line-height:17px;
margin:0;
padding:0 4px 5px;
}

ul.menu *,.entry ol li,.wp-caption img {
margin:0;
padding:0;
}

.widget_rss h2 a img,.hidden,hr {
display:none;
}

.post,.widecolumn .post,#sidebar form {
margin:0;
}

.postmetadata,.clear {
clear:both;
}

img.centered,.aligncenter,div.aligncenter {
display:block;
margin-left:auto;
margin-right:auto;
}

#search-text,#sidebar #search-text {
background:transparent none no-repeat 0 0;
border:none;
color:#fff;
width:150px;
margin:3px 32px 4px 4px;
}

.entry form,.center {
text-align:center;
}

/*Added by zarpele*/
.googlefontfredericka{
    font-family: 'Fredericka the Great', cursive;
}

.googlefontloved{
    font-family: 'Loved by the King', cursive;
}

.advertisement-zarpele-horizontal{
    width: 576px;
    overflow: hidden;
    text-align: center!important;
    padding: 3px;
}

.titulo1-zarpele{
    color: darkred; 
    font-weight: bold; 
    font-size: 15px; 
    margin-top: 20px;
}

.socialft{
    background-color: #EEEEEE;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#watchdev{
    width: 740px;
    text-align: right;
    background: none repeat scroll 0 0 #000000;
    padding-top: 10px;  

}

.wdlink{
    background-image: url("http://www.watchdev.com/images/logo_watchdev_grey.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 150px;
    position: absolute;
    opacity: 0.25;    
}

.wdlink:hover{
    background-image: url("http://www.watchdev.com/images/logo_watchdev.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 150px;
    position: absolute;
    opacity: 1;
}

.tagsZarpele a{
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    background-color: black;
    padding: 4px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
    border: 1px solid #0E6172;
    line-height: 2.5em;
}

.tagsZarpele a:hover{
    text-decoration: none;
    color: white;
    border: 1px solid white;
}

.entry a[rel=shadowbox] img{
    padding: 3px;
    -moz-border-radius: 5px;
    border-radius: 5px;  
    background-color: #213A46;
    -webkit-box-shadow: 3px 3px 12px 0px #213A46;
    box-shadow: 3px 3px 12px 0px #213A46;
}

.entry a[rel=shadowbox] img:hover{
    background-color: #2A2A2A;
}